.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.text-color {
  color : white;
  font-family: cursive;
  font-size: 2rem;
}
.App-header {
  background-color: #474941;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu-bar li a{
  color : white;
  text-decoration: none;
}
.menu-bar {
  display: flex;
}
.menu-bar li{
    list-style: none;
    padding : 1rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
